<template>
  <div class="menu">
    <div class="close-button" @click="close()">
      X
    </div>

    <div>

    </div>
    <div>
      <div class="about-title">
        <StyledLink
          :color="'#FFFFFF'"
          :barOptions="barOptions"
        >
          About
        </StyledLink>
      </div>
      <div class="about-text">
        <VueMarkdown :html="true"> {{sideBarData.about}} </VueMarkdown>

        <div class="back-button" @click="$emit('showMenuTwo')">
          back
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import StyledLink from '@/components/UI/StyledLink'
  import VueMarkdown from 'vue-markdown'

  export default {
    components: {
      StyledLink,
      VueMarkdown
    },
    computed: {
      sideBarData() {
        return this.$store.getters.getSideBarData
      }
    },
    data() {
      return {
        barOptions: {
          width: 20,
          height: 18,
          marginTop: -22,
          color: '#F9D2C4',
          link: false,
          show: true

        },
        color: '#FFFFFF'
      }
    },
    methods: {
      close() {
        this.$emit('showMenuTwo')
        this.$store.commit('closeSideBar')
      }
    }
  }

</script>


<style scoped lang="scss">
  @font-face {
      font-family: avenir;
      src: url(/fonts/AvenirNextLTPro-Regular.otf);
  }

  .close-button {
    position: absolute;
    top: 2rem;
    right: 13%;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    transform: scaleY(0.8)
  }

  .back-button {
    position: absolute;
    right: 0;
    bottom: 0;
    // right: 8rem;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    // transform: scaleY(0.8)
  }


  .menu {

    font-family: 'Barlow', sans-serif;
    background-color: rgba(0,0,0,0.8);
    height: 100vh;
    padding-left: 20%;
    width:  130%;
    padding-right: 13%;
    position: relative;
    text-align: left;
    display: grid;
    grid-template-rows: 1.1fr auto 1fr;
    backdrop-filter: blur(4px);
    // backdrop-filter: invert();
    overflow: hidden;

    @include tablet{
      width:  auto;
    }
  }

  .link {
    font-size: 2.5rem;
    display: inline-block;
  }

  .list-item {
    display: block;
    // background: blue;
    margin: 0 auto 0 0;
  }

  .about-title {
    margin-bottom: 1em;
    color: #FFFFFF;
    font-size: 2.2rem;
    display: inline-block;
    // width: 40px;
  }

  .about-text {
    color: #FFFFFF;
    padding-right: 10px;
    padding-bottom: 60px;
    font-size: 1.17rem;
    position: relative;
  }

  p{
    margin-bottom: 1em;
  }

</style>


