<template>
  <div class="menu">
    <div class="close-button" @click="$store.commit('closeSideBar') ">
      X
    </div>
    <div>

    </div>
    <div class="menu-items-container">
      <div class="menu-item" @click="$emit('showAbout')">
        <StyledLink
          class="link"
          :barOptions="barOptions"
          :color="color"
        >About</StyledLink>
      </div>
      <div class="menu-item"
        v-for="gallery in sideBarData.galleries"
        @click="menuEvents(gallery)"
      >
        <StyledLink
          class="link"
          :barOptions="barOptions"
          :color="color"
        > {{gallery}}</StyledLink>
      </div>
      </div>
    <div>
    </div>

    <div class="menu-item__bottom" @mouseover="IMLinkActive = true" @mouseleave="IMLinkActive = false">
      <StyledLink
        :href="sideBarData.links[0].link"
        class="link link__bottom"
        :barOptions="barOptions"
        :color="color"
        :showBar="IMLinkActive"
        :outsideTrigger="true"
        v-for="(word, nr) in sideBarData.links[0].title.split(' ')"
        :key="nr"
      >{{word}}</StyledLink>
    </div>
  </div>
</template>

<script>
  import StyledLink from '@/components/UI/StyledLink'

  export default {
    components: {
      StyledLink
    },
    data() {
      return {
        barOptions: {
          width: 20,
          height: 18,
          marginTop: -22,
          color: '#F9D2C4',
          show: false,
          link: true
        },
        color: 'black',
        IMLinkActive: false
      }
    },
    computed: {
      sideBarData() {
        return this.$store.getters.getSideBarData
      }
    },
    mounted() {
    },
    methods: {
      print() {
      },
      menuEvents(address) {
        this.$nextTick(() => {

          this.$router.push({
            path: '/' + 'gallery-' + address.toLowerCase() + '/'
          })
          this.$store.commit('closeSideBar')
        })
      }
    }
  }

</script>


<style scoped lang="scss">
  @font-face {
      font-family: avenir;
      src: url(/fonts/AvenirNextLTPro-Regular.otf);
  }

  .close-button {
    user-select: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    transform: scaleY(0.8);
    color: black;
  }


  .menu {
    font-family: 'Barlow', sans-serif;

    background-color: rgba(255,255,255, .3);
    border-right: 1px solid black;
    white-space: nowrap;
    height: 100%;
    width: auto;
    box-sizing: border-box;


    position: relative;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    // justify-items: left;
    backdrop-filter: blur(4px);
    // backdrop-filter: invert();
    overflow: hidden;
  }

  .link {
    font-size: 2rem;
    display: inline-block;
    &__bottom {
      display: flex;
      // width: auto;
    }
  }

  .menu-items-container {
      text-align: left;
  }

  .menu-item {
    user-select: none;
    padding-left: 50px;
    padding-right: 50px;

    // display: block;
    // background: blue;
    margin: 0 auto 0 0;
    height: 68px;

    &__bottom {
      user-select: none;
      // margin: 0 auto 0 88px;
      // height: 136px;
       padding-left: 50px;
      position: relative;
      text-align: center;
      width: 300px;
      position: absolute;
      bottom: 60px;
      // left: 88px;
    }
  }

</style>


