<template>
  <div
    class="main-gallery-section"
    id="main-gallery"
    :ref="'page'"
    tabindex="0"
    @keyup.esc="openModal = false"
  >

     <ImageModal
      :images="imagesFullScreen"
      :imageNr="imagesFullScreenNr"
      v-if="openModal"
      @closeModal="openModal = false"
    />

      <Gallery
        :images="images"
        :heights="heights"
        :type="'photography'"
        @pageWidthGallery="pageWidth = $event"
        class="page"
        @imageSizes="imageSizesF($event)"
        @imageInFocus="activeImage = $event"
        @openImage="openImage($event)"
      />
 <!--     <div class="page-title">
      photography
      <div class="page-title__line"></div>
    </div>
 -->

    <ImageSelector
      class="image-selector"
      :numberOfImages="images.length"
      :activeImage="activeImage"
      :pageWidth="pageWidth"
      @switchImage="activeImage = $event"
      :imageSizesInput="imageSizes"
    />

<!--     <div class="scroll-icon" :style="{opacity: scrollIconOpacity}"">
      scroll
      <i class="arrow scroll-icon__right"></i>
      <div class="scroll-icon__line"></div>
    </div> -->
    <ContactBar
      class="contact-bar"
      :showLinks="false"
      :isGallery="true"
    />
  </div>
</template>

<script>
  import Gallery from '@/components/Gallery'
  import {createClient} from '@/plugins/contentful'
  import ContactBar from '@/components/Footer/ContactBar'
  import ImageSelector from '@/components/GalleryImageSelector'
  import ImageModal from '@/components/ImageModal'

  export default {
    layout () {
      return 'gallery'
    },
    components: {
      Gallery,
      ContactBar,
      ImageModal,
      ImageSelector
    },
    asyncData(context) {
      let client = createClient()

      return client.getEntries({
        order: '-sys.createdAt'
      })
       .then((entries) => {
        return entries.items
          .filter( (item) => {
            if (item.sys.contentType.sys.id !== 'galleryPage') {
              return false; // skip
            }
            return true;
          })

        })
        .then(item => {
          return {
            gallery: item.find(el => ('gallery-' + el.fields.title.toLowerCase()) === context.params.gallery)
          }
        })
        .then( item => {
          return {
            title: item.gallery.fields.title,
            images: item.gallery.fields.images,
            heights: item.gallery.fields.heights,
            scrollIconOpacity: 1,
            testIconOpacity: true,
            activeImage: 1,
            pageWidth: 0,
            imageSizes: [],
            scrollLeft: 0,
            imagesFullScreen: null,
            imagesFullScreenNr: null,
            openModal: false
          }
        })

    },
    head() {
      return {
        title: 'JOHN SCARISBRICK'
      }
    },
    methods: {
      onScroll(e, scroll){
        if (this.testIconOpacity) {
         this.scrollIconOpacity = 1 - (scroll.scrollLeft / 500)
        }

        if (this.scrollIconOpacity < 0) {
          this.testIconOpacity = false
        }
        this.scrollLeft = scroll.scrollLeft
      },
      imageSizesF(x){

        this.imageSizes = x
      },
      openImage(item) {
        this.imagesFullScreen = item.imgArray.map(item => item.fields.image.fields.file.url)
        this.imagesFullScreenNr = item.nr
        this.openModal = true
      }

    },
    mounted() {
      this.$store.commit('setPageName', this.title.toLowerCase())
    }
  }
</script>

<style lang="scss" scoped>

.main-gallery-section {
  max-height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  outline: none;

}

.page-selector {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.page {
  max-height: 100%;
  height: 100%;
  width: 100vw;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scroll-icon {
  display: none;
  position: absolute;
  bottom: 40px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100px;
  z-index: -1;

    &__line {
      height: 0.08em;
      width: 99.3%;
      position: absolute;
      right: 0;
      background: black;
    }

    &__right {
      transform: rotate(-45deg);
      position: absolute;
      right: 0;
      bottom: -0.32rem;
    }
}

i {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
}

.image-selector {
    transform: translateX(-50%);
    left: 50%;

    position: fixed;
    bottom: 40px;
    margin: 0 auto;
    z-index: 99;

}

.contact-bar {
  position: absolute;
  bottom: 3.5%;
  margin: 0 auto;
  // left: 0;
  right: 10px;
  // width: 100px;
  overflow: hidden;
  // z-index: -1;
  @include tablet {
    overflow: initial;
    right: 88px;
  }
}
</style>
