<template>
  <div class="footer-area">

    <ContactBar
      class="contact-bar"
    />

  </div>
</template>
<script>
  import ContactBar from '@/components/Footer/ContactBar'

  export default {
    components: {
      ContactBar
    },
    data() {
      return {

      }
    },
    methods: {
    }
  }
</script>
<style scoped lang="scss">
  .footer-area {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas: ". contact-bar";
    margin: 1rem 0 3rem 0;
    // background: blue;
    height: 0;
    @include tablet {
      height: auto;
      grid-template-columns: 1fr 380px;
    }


  }

  .contact-bar {
    grid-area: contact-bar;
  }

</style>
