<template>
  <div
    class="page"
    :style="{backgroundColor: 'white'}"
    :ref="'page'"
  >
    <div class="images-grid">
      <img
        v-for="(image, nr) in page.src"
        :key="nr"
        class="grid-image"
        :src="image + '?h=' + Math.floor(pageHeight * 0.9 * pixelRatio)"
        :class="{'grid-image--show-first-mobile': nr !== 0}"
        v-if="pixelRatio && pageHeight"
        @click="$emit('openImage', {nr: nr, imgArray: page.src})"
      >
    </div>
  </div>
</template>
<script>

  export default {
    props: [
      'numberOfPages',
      'activePage',
      'page',
      'nr'
    ],
    computed: {
      pixelRatio() {
        return this.$store.getters.getPixelRatio
      }
    },
    data() {
      return {
        randomColor: 'rgb(' + Math.random() * 256 + ',' + Math.random() * 256 + ',' + Math.random() * 256 + ')',
        bgColorYellow: '#ffff22',
        pageHeight: undefined
      }
    },
    mounted() {
      this.getPageHeight()
    },
    methods: {
      getPageHeight() {
        if (this.$refs.page !== undefined) {
          this.pageHeight = this.$refs.page.clientHeight
        }
      }
    }
  }
</script>
<style scoped lang="scss">
  @font-face {
      font-family: avenir;
      src: url(/fonts/AvenirNextLTPro-Regular.otf);
  }

  .page {
    height: 100%;
    width: 100%;
    position: relative;
    @include tablet {
       height: 100%;
    }
  }

  .images-grid {
    display: grid;
    position: relative;
    // background-color: #000;
    margin: 0 auto;
    height: 100%;
    vertical-align: middle;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    max-width: 95%;
    @include tablet {
      max-width: 80%;
    }

  }

  .grid-image {
    // margin-right: 100px;
    max-height: 80%;
    padding-right: 0;
    cursor: pointer;
    @include tablet {
      max-height: 90%;
      padding-right: 20px;
    }

    &--show-first-mobile {
      display: none;
      @include tablet {
        display: inline-block;
      }

    }
  }

</style>
