<template>
  <div
    :id="type + '-image-container'"
    :ref="'page'"
    v-scroll="onScroll"
  >
    <div :style="firstSpaceStyle()">
    </div>

    <div v-for="(image, nr) in images" class="gallery-images--outer-block" :class="{'gallery-images--outer-block__first': nr === 0, 'gallery-images--outer-block__last': nr === images.length-1}" ref="images">

      <div class="gallery-images--inner-block" @mouseenter="currentHover = nr" @click="$emit('openImage', {nr: nr, imgArray: images})">
         <div class="image-hover"  :class="{'image-hover--is-active': currentHover === nr}" @mouseleave="currentHover = false">
          <div class="hover-container">
            <div class="hover-text hover-text-type">{{image.fields.description}}</div>
            <div class="hover-text hover-text-context">{{image.fields.forWho}}</div>
          </div>
        </div>
        <ImgLoad
          v-if="pageHeight > 100"
          :id="type + '-image-' + (nr + 1)"
          :smallSrc="image.fields.image.fields.file.url + '?h=' + 100"
          :src="image.fields.image.fields.file.url + '?h=' + imageHeightClac(nr) * pixelRatio"
          class="gallery-images--image"
          :height="imageHeightClac(nr)"
          :pageWidth="pageWidth"
          :pageHeight="pageHeight"
          @imageWidth="onImageWidth($event)"
          @doneLoading="onLoadedImage($event)"
        />
      </div>
      </div>
      <div :style="lastSpaceStyle()">
      </div>

    </div>
  </div>
</template>
<script>
  import ImgLoad from '@/components/UI/ImgLoad'

  export default {
    components: {
      ImgLoad
    },
    props: [
      'type',
      'images',
      'heights',
    ],
    computed: {
      imageHeight() {
        return
      },
      imagesLoaded() {
        return this.loadedImages.length === this.images.length
      },
      pixelRatio() {
        return this.$store.getters.getPixelRatio
      }
    },
    data() {
      return {
        currentHover: false,
        pageHeight: 1000,
        pageWidth: 1000,
        loadedImages: [],
        scrollLeft: 0
      }
    },
    updated() {
      this.getPageHeight()
      this.getPageWidth()
    },
    mounted() {
      // console.log(this.$store.getters.getPixelRatio)

      this.$nextTick(() => {
        this.getPageHeight()
        this.getPageWidth()
        window.addEventListener('resize', this.onResize)
      })

    },
    methods: {
      imageHeightClac(nr) {
        let imgHeight = this.heights[nr]

        if (!imgHeight) {
          imgHeight = 100
        }

        return Math.floor((this.pageHeight-70) * (( imgHeight / 100)-0.1))
      },
      onResize() {
        this.$nextTick(() => {
          this.$forceUpdate();
        })
      },
      getPageHeight() {
        if (this.$refs.page !== undefined) {
          this.pageHeight = this.$refs.page.clientHeight
        }

      },
      getPageWidth() {
        if (this.$refs.page !== undefined) {
          this.pageWidth = this.$refs.page.clientWidth
          this.$emit('pageWidthGallery', this.pageWidth)
        }
      },
      onLoadedImage(item) {

      },
      onImageWidth(event){
        if (this.loadedImages.length > 0) {
          let hasMatch = this.loadedImages.find(item => {
            return item.key === event.key
          })
          if (hasMatch === undefined) {
            this.loadedImages.push(event)
            this.loadedImages.sort(function(a, b){
              if(a.key < b.key) return -1;
              if(a.key > b.key) return 1;
              return 0;
            })

            this.$emit('imageSizes', this.loadedImages)
            this.handleScroll()
          }
        } else {
          this.loadedImages.push(event)
        }
      },
      lastSpaceStyle: function() {
        let imgWidth = this.loadedImages.filter(item => {
          if (item.key.includes(this.images.length)) {
            return true
          } else {
            return false
          }
        })
        let padding
        if (imgWidth.length > 0) {
          padding = ( this.pageWidth - imgWidth[0].width) / 2
        } else {
          padding = 0
        }

        if (padding < 0) {
          padding = 0
        }
        return {
          'margin-right': padding + 'px',
          'display': 'inline-block'
        }
      },
      firstSpaceStyle: function() {
        // console.log(this.loadedImages)
        let imgWidth = this.loadedImages.filter(item => {
          if (item.key.includes(1)) {
            return true
          } else {
            return false
          }
        })
        let padding
        // console.log('styöe: ' + imgWidth[0].width)
        if (imgWidth.length > 0) {
          padding = ( this.pageWidth - imgWidth[0].width) / 2
        } else {
          padding = 0
        }
        if (padding < 0) {
          padding = 0
        }
        return {
          'margin-right': padding + 'px',
          'display': 'inline-block'
        }
      },
      onScroll(e, scroll) {
        function getClosestPosInArray(search, arr) {
          let closestNr = null
          let closestPos = null

          let stopLoop = false
          let lastItem = null
          let lastPos = null
          arr.forEach((item, pos) => {
            if (!stopLoop && search < item) {
              closestNr = lastItem
              closestPos = lastPos
              stopLoop = true
            }

            lastItem = item
            lastPos = pos
          })
          return closestPos
        }
        this.scrollLeft = scroll.scrollLeft
        // console.log(this.imagesLoaded)
        if (this.imagesLoaded) {
          let breakPoints = []
          this.$nextTick(()=> {
            this.$refs.images.forEach(image => {
              breakPoints.push(image.offsetLeft)
            })
            breakPoints.unshift(0)
            breakPoints.push(this.$refs.page.scrollWidth)
            const middleOfPage = this.$refs.page.clientWidth / 2
            const scrollPos = scroll.scrollLeft + middleOfPage
            const index = getClosestPosInArray(scrollPos, breakPoints)


            this.$emit('imageInFocus', index)
          })
        }
      },
      handleScroll(){


      }
    }
  }
</script>
<style lang="scss">
  .gallery-images--outer-block {
    display: inline-flex;
    height: 100%;
    max-height: 100%;
    position: relative;
    padding: 0 3rem 0 0rem;
    // background: red;
    vertical-align: text-top;

    @include tablet {

      margin: 0;
      padding: 0 15rem 0 5rem;
    }
    &__first{
      padding-left: 0;
    }

    &__last{
      padding-right: 0;
    }

  }

  .gallery-images--inner-block {
    align-self: center;
    cursor: pointer;
    position: relative;
    // margin-bottom: 1px;

    @include tablet {
      margin-bottom: 70px;
      // max-height: inital;

    }

  }

  .gallery-images--image {
    & > img {
      display: block;
    }
  }


  .image-hover {
    position: absolute;
    top: 0;

    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    backdrop-filter: blur(2px);
    z-index: 999;
    &--is-active {
      visibility: visible;
    }
  }

  .hover-container {
    position: relative;
    // width:100%;
    // height: 100%;
    top: 50%;
    transform: translateY(-50%);
    // text-align: center;
  }

  .hover-text {
    text-align: center;
    color: #FFF;
    font-size: 1.1rem;
    margin: 0 auto;

    &-type {
      font-weight: 300;
      margin-bottom: 15px;
    }

    &-context {
      font-weight: 500;
    }
  }

</style>
