<template>
  <div class="image-selctor">
    <div
      v-for="(item, nr) in numberOfImages"
      :key="nr"
      class="item"
      :class="{'item--is-active': item === activeImage}"
      @click="clicked(item)"
    >
      {{ stylizedNumber(item) }}
    </div>
  </div>
</template>
<script>

export default {
  props: [
    'numberOfImages',
    'activeImage',
    'pageWidth',
    'imageSizesInput'
  ],
  data() {
    return {
    }
  },
  watch: {
    activeImage(val) {
    }
  },
  methods: {
    stylizedNumber(number) {
      if (number < 10) {
        return 0+number.toString()
      } else {
        return number.toString()
      }
    },
    clicked(item) {
      this.$emit('switchImage', item)

      let element = '#photography-image-' + item

      let imageWidthOffset = this.imageSizesInput.filter(item => {
        if ('#' + item.key === element) {
          return true
        } else {
          return false
        }
      })[0].width / 2

      let offset = (-this.pageWidth / 2) + imageWidthOffset
      let duration = 1


      let options = {
        container: '#photography-image-container',
        easing: 'ease-in',
        offset: offset,
        cancelable: true,
        onStart: function(element) {
          // scrolling started
        },
        onDone: function(element) {
          // scrolling is done
        },
        onCancel: function() {
          // scrolling has been interrupted
        },
        x: true,
        y: false
      }

      this.$scrollTo(element, duration, options)

    }
  }
}
</script>
<style scoped lang="scss">
  .image-selctor {
    // margin: 30px auto 20px auto;
    // visibility: hidden;
    // background: red;
    width: auto;
  }

  .item {
    display: inline-flex;
    font-family: 'Barlow', sans-serif;
    padding: 0 0 0 0;
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
    user-select: none;
    width: 40px;
    @include tablet {
      width: 60px;

      padding: 1rem 0 0rem 0;
    }

    &--is-active {
      color: #363636;
    }
  }

</style>
