<template>
  <div class="header-section" >
    <div class="menu-button" @click="$store.commit('openSideBar')" v-show="!isSideBarOpen">
      menu
      <div class="menu-button__line"></div>
      <div class="menu-button__page-name">
        {{pageName}}
      </div>
    </div>
    <div></div>
    <div class="title" @click="$router.push({
      path: '/'
    })">
      JOHN SCARISBRICK
    </div>
    <div></div>
  </div>
</template>
<script>
  import StyledLink from '@/components/UI/StyledLink'

  export default {
    components: {
      StyledLink
    },
    props: {
      height: {
        default: '100px'
      }
    },
    computed: {
      isSideBarOpen () {
        return this.$store.getters.isSideBarOpen
      },
      pageName () {
        return this.$store.getters.getPageName
      }
    },
    methods: {
      showMenu() {
        // console.log("showMenu")
      }
    }
  }
</script>
<style scoped lang="scss">
   @import url('https://fonts.googleapis.com/css?family=Barlow');

  .header-section {

    height: 120px;
    // overflow: hidden;
    display: grid;
    grid-template-rows: 3fr auto 1fr;
    align-content: center;
    justify-items: center;

    @include tablet {
      height: 110px;
    }
  }

  .menu-button {
    user-select: none;
    transform: rotate(0deg);
    position: fixed;
    width: 9em;
    top: 15px;
    left: auto;
    right: -50px;
    cursor: pointer;
    z-index: 999;
    font-family: 'Barlow', sans-serif;
    @include tablet {
      transform: rotate(270deg);
      top: 30px;
      left: 5em;
      right: auto;
    }
    &__line {
      height: 0.08em;
      width: 99.3%;
      position: absolute;
      right: 0;
      background: black;
    }

    &__page-name {
      font-family: 'Barlow', sans-serif;
      position: relative;
      font-weight: 700;
      height: 20px;
    }
  }

  .title {


    font-family: 'Barlow', sans-serif;
    cursor: pointer;
    letter-spacing: 7px;
    margin: auto;
    user-select: none;
    font-weight: 800;
    font-size: 1.3rem;
    // margin-top: 10px;

    @include tablet {
      // margin-top: auto;
      font-size: 2rem;
    }
  }

</style>
