<template>
  <div class="full-screen" @click="$emit('closeModal')" :ref="'page'">
    <img
      :src="images[imageNr] + '?h=' + (Math.floor(pageHeight * imageHeight) * pixelRatio)"
      :style="imgStyle" class="image"
      v-if="pageHeight"
    />
  </div>
</template>
<script>

  export default {
    props: [
      'images',
      'imageNr',
    ],
    data(context) {
      return {
        pageHeight: 0,
        imageHeight: 0.95
      }
    },
    computed: {
      imgStyle() {
        return {'max-height': (this.pageHeight * this.imageHeight) + 'px'}
      },

      pixelRatio () {
        return this.$store.getters.getPixelRatio
      }
    },
    mounted() {
      this.pageHeight = this.$refs.page.clientHeight
    },
    methods: {
    }
  }
</script>
<style scoped lang="scss">
  .full-screen {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    // backdrop-filter: blur(4px);
    z-index: 9999;
  }

  .image {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
  }
</style>
