<template>
  <div class="ps-container">
    <div
      v-for="item in numberOfPages"
      class="item"
      :class="{'item--is-active': item === activePage}"
      @click="clicked(item)"
    >
      {{ 0+item.toString()}}
    </div>
  </div>
</template>
<script>

  export default {
    props: [
      'numberOfPages',
      'activePage'
    ],
    data() {
      return {
      }
    },
    methods: {
      clicked(item) {
        this.$emit('switchPage', item)

        let element = '#main-gallery-' + item
        let duration = 1
        let options = {
          container: '#main-gallery',
          easing: 'ease-in',
          offset: 0,
          cancelable: true,
          onStart: function(element) {
            // scrolling started
          },
          onDone: function(element) {
            // scrolling is done
          },
          onCancel: function() {
            // scrolling has been interrupted
          },
          x: false,
          y: true
        }

        this.$scrollTo(element, duration, options)

      }
    }
  }
</script>
<style scoped lang="scss">
  @font-face {
      font-family: avenir;
      src: url(/fonts/AvenirNextLTPro-Regular.otf);
  }


  .ps-container {
    // background: red;
  }

  .item {
    font-family: 'Barlow', sans-serif;

    padding: 0.8rem 2rem 1rem 1rem;
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
    user-select: none;
    height: 68px;

    &--is-active {
      color: #363636;
    }
  }

</style>
