<template>
  <div class="side-menu-grid">
    <div class="side-bar">
      <Menu v-if="show === 'menu'" @showAbout="show = 'about'"/>
      <About v-if="show === 'about'" @showMenuTwo="showMenu()"/>
    </div>
    <div class="rest-of-page" @click="clickRestOfPage()" />

    </div>
  </div>
</template>
<script>
  import Menu from '@/components/SideBar/Menu'
  import About from '@/components/SideBar/About'

  export default {
    components: {
      Menu,
      About
    },
    data() {
      return {
        show: 'menu'
      }
    },
    methods: {
      showMenu() {
        this.show = 'menu'
      },
      clickRestOfPage() {
        this.show = 'menu'
        this.$store.commit('closeSideBar')
      }
    }
  }

</script>

<style scoped lang="scss">
  @font-face {
      font-family: avenir;
      src: url(/fonts/AvenirNextLTPro-Regular.otf);
  }

  .side-menu-grid {
    display: grid;
    grid-template-columns: auto 2.5fr;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 5;

  }

  .side-bar {
  }



  .rest-of-page {
    // background-color: rgba(0,0,0,0.3);
  }

</style>
