<template>
  <div>
    <img :src="imageSrc" :id="id" :style="[imgWidth, imgBlur]"/>
    <span class="trigger"> {{src}} </span>
  </div>
</template>
<script>

  export default {
    props: [
      'src',
      'smallSrc',
      'id',
      'height',
      'pageHeight',
      'pageWidth'
    ],
    data(context) {
      return {
        imageSrc: '',
        width: 0,
        blur: true,
      }
    },
    computed: {
      dummySrc() {
        return this.src
      },
      imgBlur() {
        if (this.blur) {
          return {'filter': 'blur(50px)'}
        } else {
          return {'filter': 'blur(0)'}
        }
      },
      imgWidth() {
        if (this.pageWidth > 768) return {'max-height': this.height + 'px', 'max-width': this.width + 'px','min-height': this.height + 'px'}


        if (this.pageWidth < 768) {
          this.$emit('imageWidth', {key: this.id, width: this.pageWidth})

          return {'min-height': 'auto', 'min-width': this.pageWidth + 'px', 'max-height': 'auto', 'max-width': this.pageWidth + 'px'}
        }
      },
      pixelRatio () {
        return this.$store.getters.getPixelRatio
      }

    },
    beforeUpdate() {
      let img
      let stretchedWidth
      img = new Image()
      img.onload = ()=>{
        this.width = img.width
        this.imageSrc = this.src
        this.$emit('imageWidth', {key: this.id, width: img.width})
      }

      img.src = this.src


    },
    mounted() {
      let imgSmall
      let imgLarge
      let stretchedWidth
      imgSmall = new Image()
      imgLarge = new Image()

      imgSmall.onload = ()=>{
        this.imageSrc = this.smallSrc
        stretchedWidth = (imgSmall.width / imgSmall.height) * this.height
        this.width = stretchedWidth

        this.$emit('imageWidth', {key: this.id, width: stretchedWidth})
        imgLarge.src = this.src
      }

      imgLarge.onload = ()=>{
        this.width = imgLarge.width
        this.blur = false
        this.imageSrc = this.src
      }

      imgSmall.src = this.smallSrc
    },
    methods: {
    }
  }
</script>
<style scoped lang="scss">
.trigger {
  display: none
}

</style>
