<template>
  <div class="wrapper" >
    <span
      @mouseenter="showBarLocal = true"
      @mouseleave="showBarLocal = false"
      ref="link"
      :style="{
        color: color,
        'margin-left': barOptions.width/2 + 'px'
      }"
      :class="{
        'span-link': barOptions.link
      }"
      @click="openLink()"
    >
      <slot></slot>
      <div
        class="bar"
        :class="{
          'bar--is-visible': checkShow
        }"
        :style="{
          'width': 'calc(100% + '+ barOptions.width.toString() +'px)',
          'margin-left':  -barOptions.width / 2 + 'px',
          'height': barOptions.height + 'px',
          'margin-top': barOptions.marginTop + 'px',
          'background-color': barOptions.color
        }"
      >
      &nbsp;
      </div>
    </span>
  </div>
</template>
<script>

  export default {
    props: {
       title: {
        default: 'link'
       },
       href: {
        default: ''
       },
       type: {
        default: ''
       },
       barOptions: {
        default: {
          width: 7,
          height: 7,
          marginTop: 7,
          color: '#C4F0FF',
          link: true,
          show: false
        }
       },
       color: {
        default: '#363636'
       },
       href: {
        default: undefined
       },
       email: {
        default: false
       },
       showBar: {
        default: false
       }
    },
    data(context) {
      return {
        width: 0,
        showBarLocal: false
      }
    },
    computed: {
      checkShow() {
        if (this.showBarLocal || this.barOptions.show || this.showBar) {
          return true
        }
        return false
      }
    },
    mounted() {
    },
    methods: {
      openLink() {
        if (this.href && this.email) {
          window.open(this.href, '_self')
        } else if (this.href) {
          window.open(this.href , '_blank')
        }
      }
    }
  }
</script>
<style scoped lang="scss">

  span {
    display: block;
    z-index: 999;
  }

  .span-link {
    cursor: pointer;
  }

  .wrapper {
    text-align: left;
  }

  .bar {
    // width: calc(100% + 40px);
    visibility: hidden;
    &--is-visible {
      visibility: visible;
    }
  }
</style>
