<template>
  <div class="contact-bar" v-if="!isGallery">
    <span class="contact-link-items" :class="{'contact-link-items--is-toggled': showLinks }">
      <StyledLink
        :href="'mailto:john@scarisbrick.com '"
        :email="true"
        class="contact-link"
        :barOptions="barOption"
        >
        email
      </StyledLink>
      <StyledLink
        :href="'https://www.instagram.com/photographer_jscarisbrick/'"
        class="contact-link"
        :barOptions="barOption"
      >
        instagram
      </StyledLink>
      <StyledLink
        :href="'https://www.linkedin.com/in/john-scarisbrick-54a54336/'"
        class="contact-link"
         :barOptions="barOption"
      >
        linkedin
      </StyledLink>
    </span>
    <div class="contact-logo" @click="showLinks = !showLinks">
      contact
      <div class="contact-logo__line">
      </div>
    </div>
  </div>
</template>

<script>
  import StyledLink from '@/components/UI/StyledLink'

  export default {
    components: {
      StyledLink
    },
    props: {
      showLinks: {
        default: false
      },
      isGallery: {
        default: false
      }

    },
    data() {
      return {
        barOption: {
          width: 7,
          height: 7,
          marginTop: -7,
          color: '#C4F0FF',
          link: true
        }
      }
    },
    methods: {
    }
  }
</script>

<style scoped lang="scss">

  .contact-bar {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
  }


  .contact-link-items {
    visibility: hidden;
    user-select: none;

    @include tablet {
      visibility: hidden;
    }

    &--is-toggled {
      visibility: visible;

      @include tablet {
        visibility: visible;
      }
    }

  }

  .contact-link {
    margin: 0 30px 0 0;
    font-size: 0.8rem;
    display: inline-block;
  }

  .contact-logo {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    position: relative;
    bottom: 12px;
    &__line {
      height: 0.05em;
      margin: 0 0 0 1px;
      width: 18rem;
      position: absolute;
      background: black;
    }
  }

  .title {
    display: inline-block;
    margin: 2em 0 0 0;
    width: 100%;
    text-align: center;
    // background: red;
  }

</style>
