<template>
  <div>
    <div class="layout-grid">
      <Header :height="'110px'"/>
      <nuxt />
      <Footer />
    </div>
    <SideBar
      v-show="isSideBarOpen"
    />

  </div>
</template>

<script>
  import Header from '@/components/Header'
  import Footer from '@/components/Footer'
  import SideBar from '@/components/SideBar'

  export default {
    components: {
      Header,
      Footer,
      SideBar
    },
    computed: {
      isSideBarOpen () {
        return this.$store.getters.isSideBarOpen
      }
    },
    beforeMount() {
      this.$store.commit('setPixelRatio', window.devicePixelRatio)
    }
  }
</script>

<style>
  .layout-grid {
    display: grid;
    grid-template-rows: auto minmax(200px, 1fr) auto;
    grid-template-columns: 1fr;
    height: 100vh;
    /*max-height: 100vh;*/
    /*background-color: red;*/
    overflow-x: hidden;
      @include tablet {
        overflow-x: initial;
      }
    }
</style>
