<template>
  <div>
    <div class="layout-grid">
      <Header/>
      <nuxt v-scroll="onScroll" />
    </div>
    <SideBar
      v-show="isSideBarOpen"
    />

  </div>
</template>

<script>
  import Header from '@/components/Header'
  import SideBar from '@/components/SideBar'

  export default {
    components: {
      Header,
      SideBar
    },
    methods: {

    },
    computed: {
      isSideBarOpen () {
        return this.$store.getters.isSideBarOpen
      }
    },
    beforeMount() {
      this.$store.commit('setPixelRatio', window.devicePixelRatio)
    }
  }
</script>

<style>
  .layout-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;

    overflow-x: hidden;
    @include tablet {
      overflow-x: initial;
    }

  }

  .image-selector {
  }
</style>
