<template>
  <div class="main-gallery-section" v-scroll="handleScroll" id="main-gallery">
    <PageSelector
      class="page-selector"
      :numberOfPages="pages.length"
      :activePage="activePage"
      @switchPage="activePage = $event"
    />

    <FrontPageGallery
      v-for="(page, nr) in pages"
      :key="nr"
      :nr="nr"
      :page="page"
      class="page"
      :id="'main-gallery-' + (nr+1)"
      :ref="'main-gallery-' + (nr+1)"
      @openImage="openImage($event)"
    />

    <ImageModal
      :images="imagesFullScreen"
      :imageNr="imagesFullScreenNr"
      v-if="openModal"
      @closeModal="openModal = false"
    />
  </div>
</template>

<script>
  import PageSelector from '@/components/PageSelector'
  import ImageModal from '@/components/ImageModal'
  import FrontPageGallery from '@/components/FrontPageGallery'
  import {createClient} from '@/plugins/contentful'

  export default {
    components: {
      PageSelector,
      FrontPageGallery,
      ImageModal
    },
    asyncData(context) {

      let client = createClient()

      return client.getEntries({
        order: '-sys.createdAt'
      })
        .then(entries => {
          let pages = entries.items
            .filter( (item) => {
              if (item.sys.contentType.sys.id === 'frontPage') {
                return true;
              }
              return false;
            })
            .map((item, nr) => {

              return {
                pages: item.fields.page
              }
            })

          pages = pages[0].pages.map((item, nr) => {
            return {
              src: item.fields.images.map(item => item.fields.file.url)
            }
          })

          let menu = entries.items
            .filter( (item) => {
              if (item.sys.contentType.sys.id === 'menu') {
                return true;
              }
              return false;
            })

          // this.$store.commit('setSideBarData', menu)

          return {
            pages: pages,
            activePage: 1,
            openModal: false,
            imagesFullScreen: null,
            imagesFullScreenNr: null
          }
        })
    },
    head() {
      return {
        title: 'JOHN SCARISBRICK'
      }
    },
    methods: {
      handleScroll (evt, el) {

        let activeDiv = ''
        let activeNr = -1
        for (let key in this.$refs) {
          let ref = this.$refs[key][0]
          const emissionYOfsset = ref.$el.offsetTop
          if (el.scrollTop + (ref.$el.clientHeight /2) >= emissionYOfsset) {
            activeDiv = key
            activeNr = Number(activeDiv.split('-')[2])
            console.log('activeNr: ', activeNr);
            this.activePage = activeNr
          }
        }
      },
      openImage(item) {
        this.imagesFullScreen = item.imgArray
        this.imagesFullScreenNr = item.nr
        this.openModal = true
      }
    },
    mounted() {
      this.$store.commit('setPageName', '')
    }
  }
</script>

<style lang="scss" scoped>

.main-gallery-section {
  text-align: center;
  overflow: scroll;
  // position: relative;
  // background: blue;
  & div:last-child {

    margin-bottom: 0;

    @include tablet {
      margin-bottom: 0;
    }


  }


}


.page {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;

  @include tablet {
    padding-top: 0;

    margin-bottom: 200px;
  }
  // box-sizing: border-box;
}



.page-selector {
  position: fixed;
  // height: 100%;

  right: 0;
  top: 50%;
  transform: translateY(-50%);

    z-index: 2;


}

.image-modal {
  display: none;

  &--is-visible {
    display: block;
  }
}

</style>
